.portfolio {
  .portfolioContent {
    display: flex;
    flex-direction: column;
    .radioDisplay {
      padding: 0.4rem;
      text-transform: uppercase;
      color: $color-4;
      display: flex;
      gap: 5%;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      border-radius: $borderRadius;
      height: 9%;
      margin-bottom: 0.2rem;
      li {
        display: flex;
        justify-content: flex-start;
        gap: 7%;
        width: 120px;
        padding: 0.3rem;
        cursor: pointer;
        input,
        label {
          cursor: pointer;
        }
      }
    }
    .projects {
      height: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      .project {
        margin: 0.4rem;
        display: flex;
        gap: 2%;
        padding: 0.4rem;
        background-color: $black-background-card;
        border: $border-card;
        box-shadow: $shadow-card;
        width: 31%;
        height: 47%;
        border-radius: $borderRadius;
        flex-direction: column;
        justify-content: space-around;
        .icons {
          color: $white;
          display: flex;
          justify-content: center;
          gap: 13%;
          height: 30px;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        h3 {
          color: $color-2;
          margin-inline: auto;
        }
        a {
          display: contents;
          img {
            width: 95%;
            margin-inline: auto;
            height: 124px;
            object-fit: cover;
            border-radius: $borderRadius;
            &:hover {
              scale: 1.015;
            }
          }
        }
        .infos {
          display: flex;
          align-items: center;
          gap: 5%;
          color: $color-3;
          padding-top: 0.5rem;
          margin-inline: auto;
          height: 30px;
          cursor: pointer;
          &:hover svg {
            scale: 1.1;
          }
          svg {
            width: 25px;
            height: 25px;
          }
        }
        .showInfos {
          background-color: #000000b0;
          width: 100%;
          height: 100vh;

          top: 0;
          left: 0;
          &.hide {
            position: absolute;
            opacity: 0;
            visibility: hidden;
          }
          &.visible {
            position: fixed;
            opacity: 1;
            visibility: visible;
            transition: all ease-in 0.2s;
            overflow-y: hidden;
          }
          .infoContent {
            margin: 0 auto;
            margin-block-start: 180px;
            padding: 1.5rem;
            width: 70%;
            height: auto;
            background-color: #000000;
            border-radius: $borderRadius;
            border: $border-card;
            box-shadow: $shadow-card;
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .head {
              width: 90%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              h2 {
                color: $color-4;
              }
              .linkContent {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 60%;
                a {
                  display: block;
                  margin: 0.3rem;
                }
              }
            }
            p {
              margin-top: 1.6rem;
              margin-bottom: 1.6rem;
              width: 94%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .portfolio {
    .portfolioContent {
      .radioDisplay {
        flex-wrap: wrap;
      }
      .projects {
        .project {
          width: 45%;
          .showInfos {
            .infoContent {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 765px) {
  .portfolio {
    .portfolioContent {
      .projects {
        .project {
          .showInfos {
            .infoContent {
              margin-block-start: 110px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .portfolio {
    .portfolioContent {
      height: auto;
      .projects {
        display: flex;
        flex-direction: column;
        &:after {
          height: 100%;
        }
        .project {
          width: 70%;
          .showInfos {
            .infoContent {
              padding: 0.5rem;
              margin-block-start: 50px;
              .head {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                  font-size: 20px;
                }
                .linkContent {
                  flex-direction: column;
                  a {
                    font-size: 14px;
                  }
                }
              }
              p {
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .portfolio {
    .portfolioContent {
      .projects {
        .project {
          .showInfos {
            .infoContent {
              margin-block-start: 15px;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
