.portfolio {
  .portfolioContent {
    display: flex;
    flex-direction: column;
    .radioDisplay {
      padding: 0.4rem;
      text-transform: uppercase;
      color: $color-4;
      display: flex;
      gap: 5%;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      border-radius: $borderRadius;
      height: 9%;
      margin-bottom: 0.2rem;
      li {
        display: flex;
        justify-content: flex-start;
        gap: 7%;
        width: 120px;
        padding: 0.3rem;
        cursor: pointer;
        input,
        label {
          cursor: pointer;
        }
      }
    }
    .projects {
      height: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      .project {
        margin: 0.4rem;
        display: flex;
        gap: 2%;
        padding: 0.4rem;
        border: 2px solid #59f6dc;
        width: 31%;
        height: 47%;
        border-radius: $borderRadius;
        flex-direction: column;
        justify-content: space-around;
        // box-shadow: 5px 5px 1px rgb(15, 15, 15);
        // box-shadow: -6px -6px 1px -1px rgb(15, 15, 15);
        box-shadow: 3px 2px 1px #59f6dc;
        .icons {
          color: $color-4;
          display: flex;
          justify-content: center;
          gap: 13%;
          height: 30px;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        h3 {
          color: $color-5;
        }
        a {
          display: contents;
          img {
            width: 95%;
            height: 50%;
            margin-inline: auto;
            height: 124px;
            object-fit: cover;
            border-radius: $borderRadius;
            box-shadow: $shadow;
            &:hover {
              scale: 1.015;
              box-shadow: $shadow-hover;
            }
          }
        }
        .infos {
          display: flex;
          align-items: center;
          gap: 5%;
          color: $color-5;
          padding-top: 0.5rem;
          margin-inline: auto;
          height: 30px;
          cursor: pointer;
          svg {
            width: 25px;
            height: 25px;
            &:hover {
              scale: 1.1;
            }
          }
        }
        .showInfos {
          background-color: #000000b0;
          position: absolute;
          width: 150%;
          height: 100%;
          top: 0;
          left: -50%;
          z-index: 1;
          &.hide {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: all ease-in 0.2s;
          }
          &.visible {
            position: absolute;
            opacity: 1;
            visibility: visible;
            transition: all ease-in 0.2s;
          }
          .infoContent {
            position: fixed;
            margin: 0 auto;
            padding: 1.5rem;
            top: 50%;
            left: 36%;
            transform: translate(-30%, -50%);
            width: 70%;
            height: auto;
            background-color: #000000eb;
            border-radius: $borderRadius;
            box-shadow: $shadow-modal;
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .head {
              width: 90%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .linkContent {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 60%;
                a {
                  display: block;
                  margin: 0.3rem;
                }
              }
            }
            p {
              margin-top: 1.6rem;
              margin-bottom: 1.6rem;
              width: 94%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .portfolio {
    .portfolioContent {
      .radioDisplay {
        flex-wrap: wrap;
      }
      .projects {
        .project {
          width: 45%;
          .showInfos {
            .infoContent {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .portfolio {
    .portfolioContent {
      height: auto;
      .projects {
        display: flex;
        &:after {
          height: 100%;
        }
        .project {
          .showInfos {
            .infoContent {
              padding: 0.5rem;
              .head {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                  font-size: 20px;
                }
                .linkContent {
                  flex-direction: column;
                  a {
                    font-size: 14px;
                  }
                }
              }
              p {
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .portfolio {
    .portfolioContent {
      .projects {
        flex-direction: column;
        .project {
          width: 70%;
        }
      }
    }
  }
}
