$font-1: "Roboto", sans-serif;

$color-1: #2a1d52;
$color-2: #6c77f4;
$color-3: rgb(99, 164, 233);
$color-4: #59f6dc;
$color-5: #36d0ea;
$white: #ddd;
$black: #333;
$black-background: #000000;
// $black-background: #2522bc;
$black-background-card: #000000;
// $black-background-card: #000000b8;
// $black-background-card: #00000000;
$border-card: 1px solid $white;

$borderRadius: 25px;
$shadow-hover: 5px 7px 4px #333;
$shadow: 2px 3px 4px #333;
$shadow-button: 2px 2px 1px #000;
$shadow-modal: 7px 7px 6px #000;
$shadow-card: 4px 4px 6px #59f6dc;
$min-height: 100vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  max-width: 2560px;
  font-family: $font-1;
  color: $black;
}
.button {
  padding: 0.3rem;
  color: $black;
  width: auto;
  height: 30px;
  background-color: $color-3;
  border-radius: $borderRadius;
  cursor: pointer;
  &:hover {
    background-color: $color-4;
  }
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color: $black;
}
.home,
.knowledges,
.portfolio,
.contact {
  position: sticky;
  display: flex;
  background-color: $black-background;
  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.homeContent,
.knowledgesContent,
.portfolioContent,
.contactContent {
  margin-left: 0.4rem;
  background: linear-gradient(
    90deg,
    $black-background 32%,
    #081498 60%,
    transparent 106%
  );
  min-height: $min-height;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left: 4%;
    height: 100%;
    width: inherit;
    background: url(/homeCompress.jpg) no-repeat center/cover;
    z-index: -1;
    filter: brightness(30%);
  }
  @media screen and (max-width: 850px) {
    margin-left: 0 !important;
    min-height: 100vh;
  }
}
