.custom-tooltip {
  background-color: $color-1;
  border-radius: $borderRadius;
  color: white;
  width: 65px;
  height: 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}
